{{ define "body" }}
  <h2>Sign Up</h2>
  {{ if .Error }}<div class="error"><strong>Error:</strong> {{ .Error }}</div>{{ end }}
  <form action="/register" method="POST">
    <dl>
      <dt>Username:
      <dd><input type="text" name="username" size="30" value="{{ .Form.Username }}">
      <dt>E-Mail:
      <dd><input type="text" name="email" size="30" value="{{ .Form.Email }}">
      <dt>Password:
      <dd><input type="password" name="password" size="30">
      <dt>Password <small>(repeat)</small>:
      <dd><input type="password" name="password2" size="30">
    </dl>
    <div class="actions"><input type="submit" value="Sign Up"></div>
  </form>
{{ end }}